extends ../layouts/ui-kit
block title
  title Colors & type
block body-container
  include ../includes/common.blocks/body-container/_white
    block content
      include ../includes/common.blocks/logo/logo
      include ../includes/common.blocks/body-container/__sub-container