.body-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  max-height: 900px;
  &__sub-container{
    display: flex;
    width: 1099.26px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 78px 0;
  }
}