@font-face {
  font-family: "Quicksand";
  src: url("../assets/fonts/Quicksand-Light.ttf");
  src: url("../assets/fonts/Quicksand-Bold.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Black.ttf");
  src: url("../assets/fonts/Montserrat-Bold.ttf");
  src: url("../assets/fonts/Montserrat-ExtraBold.ttf");
  src: url("../assets/fonts/Montserrat-ExtraLight.ttf");
  src: url("../assets/fonts/Montserrat-Light.ttf");
  src: url("../assets/fonts/Montserrat-Medium.ttf");
  src: url("../assets/fonts/Montserrat-Regular.ttf");
  src: url("../assets/fonts/Montserrat-SemiBold.ttf");
  src: url("../assets/fonts/Montserrat-Thin.ttf");
}