$clr_ds: #1f2041;
$clr_prp: #bc9cff;
$clr_grn: #6fcf97;

.palette {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 269.26px;
  height: 610px;
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-text {
      width: 159px;
      height: 58px;
      font-size: 19px;
      line-height: 29px;
    }
    &-text {
      font-family: Quicksand, sans-serif;
      &-name {
        font-weight: 700;
      }
      &-code {
        font-weight: 300;
      }
    }
    &-square,
    &-square > div {
      width: 70px;
      height: 70px;
      border-radius: 6px;
      &_1f2041-100 {
        background: $clr_ds;
    }
      &_1f2041-75 {
        background: $clr_ds;
        opacity: 75%;
    }
      &_1f2041-50 {
        background: $clr_ds;
        opacity: 50%;
    }
      &_1f2041-25 {
        background: $clr_ds;
        opacity: 25%;
    }
      &_1f2041-5 {
        background: $clr_ds;
        opacity: 5%;
    }
      &_bc9cff {
        background: $clr_prp;
    }
      &_6fcf97 {
        background: $clr_grn;
    }
    }
  }
}